<!DOCTYPE html>
<html>
<head>
<title>Welcome to Techbleat Tutorial 2!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>{{ header_message }} </h1>
<p>{{ main_message }}</p>

<a href="https://techbleat.co.uk">Techbleat Home!</a>.</p>

<p><em>Thank you for joining the class!.</em></p>
</body>
</html>